- @total = 50
.graphline-stats-table
  - @segments.each do |segment|
    .graphline-bucket-segment{ id: "table_#{segment[:html_id]}",  data: { id: segment[:database_id] } }
      .bucket-name= segment[:name]
      .bucket-count= segment[:count]
      .bucket-percent= "#{bucket_width(segment[:count], @total)}%"

